.container {
  display: flex;
  flex-direction: column;
}

.text {
  width: 290px;
}

.button {
  width: 250px;
  height: 40px;
  margin-top: 25px;
}

span {
  color: var(--primary-text-color);
  font-weight: 500;
}
