.App {
  --primary-text-color: rgb(28, 76, 251);
  --secondary-text-color: rgb(136, 151, 160);
  --blue-background-color: rgb(28, 76, 251);
  text-align: center;
}

body {
  margin-top: 120px;
  padding: 0;
}
