.main {
  padding: 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h2 {
  padding-top: 100px;
  text-align: left;
  width: 150px;
}
span {
  color: var(--primary-text-color);
}
p {
  width: 270px;
  text-align: justify;
  margin-bottom: 50px;
}

.button {
  width: 150px;
  height: 40px;
}
