.container {
  width: 90px;
  display: flex;
  justify-content: space-between;
}

.like {
  color: var(--blue-background-color);
}

.pressedLike {
  color: var(--blue-background-color);
}

.dislike {
  color: var(--blue-background-color);
}

.pressedDislike {
  color: var(--blue-background-color);
}

.likesCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 40px;
}
