.hamburger {
  background-color: white;
  display: flex;
  border: none;
  font-size: 1.5rem;
  width: 100%;
  padding: 0;
}

.button {
  color: var(--primary-text-color);
  background-color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.buttonOpen {
  color: white;
  background-color: var(--primary-text-color);
  font-size: 1.5rem;
  cursor: pointer;
}
